@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans+Condensed:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i');
@import url('https://fonts.googleapis.com/css?family=Hind:300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Cookie');

/*
 * Globals
 */
/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none;
  background-color: #fff;
  border: .05rem solid #fff;
}

/*
 * Base structure
 */
html,
body {
  height: 100%;
  background: radial-gradient(#374566, #010203);
  background: -webkit-radial-gradient(#374566, #010203);
}

body {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
  justify-content: center;
  color: #fff;
  font-family: 'Hind', sans-serif;
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
}

.cover-container {
  max-width: 42em;
}

/*
 * Header
 */
.masthead {
  margin-bottom: 2rem;
}

.masthead-brand {
  margin-bottom: 0;
}

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, .5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

/* .nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
} */

.nav-masthead .nav-link+.nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  /* border-bottom-color: #fff; */
}

@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }

  .nav-masthead {
    float: right;
  }
}

/*
 * Cover
 */
.cover {
  padding: 0 1.5rem;
}

.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}

/* CUSTOM CSS */
canvas {
  display: block;
  position: absolute;
  z-index: 1;
  width: 100%;
}

.inner {
  position: relative;
  z-index: 9;
}

#cake {
  display: block;
  position: relative;
  margin: -16em auto 0 auto;
}

/*  Candle */
.velas {
  background: #ffffff;
  border-radius: 10px;
  position: absolute;
  top: 125px;
  left: 50%;
  margin-left: -2.4px;
  margin-top: -8.33333333px;
  width: 5px;
  height: 35px;
  transform: translateY(-300px);
  backface-visibility: hidden;
  animation: in 500ms 6s ease-out forwards;
}

.velas:after,
.velas:before {
  background: rgba(255, 0, 0, 0.4);
  content: "";
  position: absolute;
  width: 100%;
  height: 2.22222222px;
}

.velas:after {
  top: 25%;
  left: 0;
}

.velas:before {
  top: 45%;
  left: 0;
}

/*  Fire */
.fuego {
  border-radius: 100%;
  position: absolute;
  top: -20px;
  left: 50%;
  margin-left: -2.6px;
  width: 6.66666667px;
  height: 18px;
}

.fuego:nth-child(1) {
  animation: fuego 2s 6.5s infinite;
}

.fuego:nth-child(2) {
  animation: fuego 1.5s 6.5s infinite;
}

.fuego:nth-child(3) {
  animation: fuego 1s 6.5s infinite;
}

.fuego:nth-child(4) {
  animation: fuego 0.5s 6.5s infinite;
}

.fuego:nth-child(5) {
  animation: fuego 0.2s 6.5s infinite;
}

/*  Animation Fire */
@keyframes fuego {

  0%,
  100% {
    background: rgba(254, 248, 97, 0.5);
    box-shadow: 0 0 40px 10px rgba(248, 233, 209, 0.2);
    transform: translateY(0) scale(1);
  }

  50% {
    background: rgba(255, 50, 0, 0.1);
    box-shadow: 0 0 40px 20px rgba(248, 233, 209, 0.2);
    transform: translateY(-20px) scale(0);
  }
}

@keyframes in {
  to {
    transform: translateY(0);
  }
}

.cover-heading {
  font-family: 'Cookie', cursive;
  font-weight: 400;
}

.inner .lead {
  font-size: 20px;
  font-weight: 400;
  font-family: 'IBM Plex Sans Condensed', sans-serif;
}

.text {
  color: #fff;
  text-align: center;
  letter-spacing: 1px;
  text-transform: capitalize;
  line-height: 0.8;
}

@media (max-width: 950px) {
  .cover-heading {
    font-size: 1.5rem
  }

  .inner .lead {
    font-size: 14px;
  }
}

.bg-color {
  position: absolute;
  background: radial-gradient(#00d0f5, #010203);
  background: -webkit-radial-gradient(#00d0f5, #010203);
  opacity: 0.4;
  width: 100%;
  height: 100%;
  z-index: 1;
}

/*
 * Footer
 */
.mastfoot {
  color: rgba(255, 255, 255, .5);
}